*{
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url("../art assets - trinh hami/metamorphosis/1.jpg") no-repeat center/cover;
  overflow: hidden;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

 /* Hide scrollbar for Chrome, Safari and Opera */
 body::-webkit-scrollbar {
  display: none;
}



footer#taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
footer#taskbar img {
  height: 30px;
  display: block;
  margin: 0;
}

span.start-btn {
  position: absolute;
  left: 0;
  height: 30px;
  max-width: calc(100% - 95vw);
  cursor: pointer;
  transition: filter 0.1s ease;
}

span.start-btn:hover{
  filter: brightness(1.25);
}

span.start-btn:active{
  filter: brightness(0.9);
}

.window {
  position: absolute;
  /* Add a default z-index value for windows */
  z-index: 1;
}

.on-start {
  display:block;
}

#contact {
  display:none; 
  width: 410px; 
  height: 610px;
}

#archive {
  top: 5%; 
  left: 10%; 
}

#music {
  top: 7%; 
  left: 67.5%; 
}

#art {
  width: 170px;
  height: 600px;
  top: 30%; 
  left: 45%; 
}

#media {
  width: 170px;
  height: 280px;
  top: 35%; 
  left: 60%; 
}

.start-menu-win {
  z-index: 11;
  position: fixed;
  bottom: 27px;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.start-menu-win.active-menu {
  opacity: 1;
}

.field-row {
  z-index: 12;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 100px 6px;
  color: white;
}

#clock {
  z-index: 12;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 14px;
  padding: 0 14px 6px;
  color: white;
}

.fixed-bottom-right {
  z-index: 11;
  position: fixed;
  bottom: 0;
  right: 0;
}

#icon-box {
  position: fixed; /* stick the grid to the right side of the screen */
  filter: drop-shadow(0 0 0.10rem black);
}

#art-box{
  margin-top: 10px;
  margin-left: 20px;
  position: absolute;
}

.grid {
  padding: 40px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(1, 50px);
  top: 0;
  left: 0;
}

.icon {
  width: 50px; /* make the icons square */
  height: 70px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon img {
  width: 50px;
  height: 50px;
}

#icon-box span {
  color: white;
}

#art-box span {
  color: black;
}


#art-box img {
  filter: drop-shadow(0 0 0.10rem black);
}

.icon:hover {
  cursor: pointer;
}

.icon.selected img {
  opacity: 0.75;
}

.icon.selected span {
  padding: 0 4px;
  background-color: rgba(0, 0, 255, 0.5);
  filter: drop-shadow(0 0 0 transparent)
}

a {
  font-family: "Pixelated MS Sans Serif",Arial;
}

a:hover {
  cursor: pointer;
  color: #ff0080 !important;
}

.link:hover {
  cursor: pointer;
  color: #ff0080 !important;
}

#archive {
  background-color: white; 
  width: 600px; 
  height: 400px
}

#music {
  background-color: black; 
  width: 410px; 
}

#art {
  background-color: white; 
  width: 170px; 
  height: 380px;
}

#media {
  background-color: white; 
  width: 170px; 
  height: 290px;
}

.tree-view {
  height: 340px
}


.entries {
  position: absolute;
  width: 60%;
  height: 350px;
  right: 0;
  padding-right: 15px;
  overflow-y: scroll;
}

.entries *{
  margin: 5px;
  font-family: "Pixelated MS Sans Serif",Arial;
}

.slider {  
  border: black;
  border-style: inset;
  border-width: 10px;
  max-width: 100%;
  height: 400px; /* Set a fixed height for the slider */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* Center images vertically */
}

.proj {
  max-width: 80%;
  max-height: 100%; /* Ensure images don't exceed slider height */
  object-fit: contain;
}

.slider .proj {
  display: none;
  cursor: zoom-in;
  transition: transform 0.2s ease-out;
}

.slider .proj.active {
  display: block;
}

.slider .proj.active.zoomed {
  transform: scale(1.5);
  cursor: zoom-out;
}

.slider .arrow {
  font-size: 50px;
  font-weight: bold;
  color: #00a2ed;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  user-select: none; 
  
}

.slider .arrow:hover {
  filter: brightness(1.25);
}

.slider .arrow:active {
  filter: brightness(0.9);
}

.slider .arrow.left {
  left: 20px;
}

.slider .arrow.right {
  right: 20px;
}

.slider .dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider .dots .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: #00a2ed;
  cursor: pointer;
}

.slider .dots .dot.active {
  filter: brightness(1.25);
}

@media screen and (max-width: 1300px) {
    .icon {
      width: 100px;
      height: 140px;
      font-size: 24;
      font-weight: bolder;
    }

    .icon img {
      width: 100px;
      height: 100px;
    }

    .tree-view {
      height: 490px;
    }

    .entries {
      height: 500px;
    }

    #contact {
      display: none; 
      width: 410px; 
      height: 650px;
    }

    #archive {
      display: none; 
      top: 65%; 
      left: 10%; 
      font-size: 16px;
      width: 700px;
      height: 600px;
    }
    
    #music {
      display: none; 
      top: 17%; 
      left: 50%; 
    }
    
    #art {
      display: none; 
      top: 35%; 
      left: 65%; 
      width: 210px; 
      height: 600px;
    }
    
    #media {
      display: none; 
      top: 25%; 
      left: 25%; 
      width: 210px; 
      height: 440px;
    }

    #media .icon:first-child, #art .icon:first-child{
      margin-top: 20px;
    }

    .video-diary, .warm-love{
      height: 435px;
    }

    .title-bar{
      height: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .title-bar-controls button{
      transform: scale(1.5);
    }
}

@media screen and (max-height: 600px) {

}